<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/header.css">
	<style type="text/css">
 
	</style>
</head>
<body> 
	    <section class="header clear">
	    	<div class="container clear">
	    		<div class="logo clear">
	    			<img src="/images/title.png" alt="">
	    		</div>
	    		<nav>
	    			<ul>
	    				<li><a href="/all_albums">所有相册</a></li>
	    				<li><a href="/my_albums">我的相册</a></li>
	    				<li><a href="/albums_manage">管理相册</a></li>
	    			</ul>
	    		</nav>
	    		<div class="right clear">
	    			<% if(hasLogin){%>
	    			<div class="head_pic">
	    				<a href="/cut"><img src="<%=username%>/head_pic/head_pic.jpg" alt=""></a>
	    			</div>
	    			<div class="username">
	    				<%=username%>
	    			</div>
	    			<div class="exit"> 
	    				<a href="/exit">退出</a>
	    			</div>
	    		 <%}else{%>
	    		   <div class="login"><a href="/login.html">登录</a></div>
	    		   <div class="regist"><a href="regist.html">注册</a></div>
	    		 <%}%>
	    		</div>
	    	</div>
	    </section>
	    <section class="body">
	    	<div class="container">
	    		
	    	</div>
	    </section>
	    <section class="footer">
	    	<div class="container">
	    		
	    	</div>
	    </section> 
</body>
</html>