<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/header.css">
	<style type="text/css"> 
	  .show{
	  	height:100px;
	  	border:1px solid red;
	  }
	  .body ul{
	  	width:100%; 
	  }
	  .body ul li{
	  	float: left;
	  	width:25%;
	  	position: relative;
	  }
	  .body ul li a{
	  	display: block;
	  }
	  .body ul li a img{
	  	width:80%;
	  	margin:0 auto;
	  }
		.body ul li span{
			position: absolute;
			width:100%;
			height:20px;
			top:60%;
			left:0;
			margin-top:-10px;
			color:white;
		}
	</style>
</head>
<body> 
	    <section class="header clear">
	    	<div class="container clear">
	    		<div class="logo clear">
	    			<img src="/images/title.png" alt="">
	    		</div>
	    		<nav>
	    			<ul>
	    				<li><a href="/all_albums">所有相册</a></li>
	    				<li><a href="/my_albums">我的相册</a></li>
	    				<li><a href="/albums_manage">管理相册</a></li>
	    			</ul>
	    		</nav>
	    		<div class="right clear">
	    			<% if(hasLogin){%>
	    			<div class="head_pic">
	    					<a href="/cut"><img src="<%=username%>/head_pic/head_pic.jpg" alt=""></a>
	    			</div>
	    			<div class="username">
	    				<%=username%>
	    			</div>
	    			<div class="exit"> 
	    				<a href="/exit">退出</a>
	    			</div>
	    		 <%}else{%>
	    		   <div class="login"><a href="/login.html">登录</a></div>
	    		   <div class="regist"><a href="regist.html">注册</a></div>
	    		 <%}%>
	    		</div>
	    	</div>
	    </section>
	    <section class="body">
	       <div class="container">
	       	 <ul class="clear">
	        	<% for(var i =0;i<data.length;i++){%>
						   <li><a href="/my_pic?dic=<%=data[i]%>"><img src="images/1.jpg" alt=""></a><span><%=data[i]%></span></li>
						<%}%>
	         </ul>
	       </div>
	    </section>
	    <section class="footer">
	    	<div class="container"> 
	    	</div>
	    </section> 
	    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
	    <script type="text/javascript">
 
	    </script>
</body>
</html>